<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>{{main.attributes.title}}.</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="personal site for chanci">

	<style>
		{{{stylesheet}}}
	</style>
</head>

<body>
	<main>
		<h1>{{main.attributes.title}}</h1>

		{{{render main.body}}}

		<footer>
			{{#each links}}
			<a href="{{this.body}}" aria-label="{{this.attributes.label}}" {{#if this.attributes.newTab}} target="_blank" rel="noopener" {{/if}}>
				{{{feather this.attributes.icon}}}
			</a>
			{{/each}}
		</footer>
	</main>

</body>

</html>
