<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>{{main.title}}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="personal site for phoebe">
	<link rel="preload" href="/font.ttf" as="font" type="font/ttf">

	<style>
		{{{stylesheet}}}
	</style>
</head>

<body>
		<header><h1>{{main.title}}</h1></header>

		<main>{{{main}}}</main>

		<footer>
			{{#each links}}
				<a href="{{this.link}}" aria-label="{{this.label}}" tabindex="0" {{#if this.newTab}} target="_blank" rel="noopener" {{/if}} {{#if this.rel}} rel={{this.rel}} {{/if}}>
					{{this.text}}
				</a>
				{{#unless @last}}
					<span> / </span>
				{{/unless}}
			{{/each}}
		</footer>

</body>

</html>
