<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>chance dickson.</title>
	<link rel="preconnect" href="https://use.typekit.net">
	<link rel="preload" href="https://unpkg.com/feather-icons@4.26.0/dist/feather-sprite.svg" as="image">

	<!--
		you won't find a script tag here. i ❤️ react but it's not necessary for this site.
	-->
	{{!-- <link rel="stylesheet" href="https://unpkg.com/normalize.css@8.0.0/normalize.css"> --}}
	<link rel="stylesheet" href="https://use.typekit.net/akc8qfl.css">
	<link rel="stylesheet" href="/style.css">
</head>

<body>
	<header>
		<section class="container">
			<section class="left" aria-hidden="true">
				<img class="logo-left" src="/{{assets.[logo-left.png]}}" />
			</section>
			<section class="right">
				<nav class="invisible" aria-hidden="true">
					<a href="#projects">projects.</a>
					<a href="#history">history.</a>
					<a href="#contact">contact.</a>
				</nav>
				<img alt="chance dickson logo" class="logo-right" src="/{{assets.[logo-right.png]}}" />
				<nav>
					<a href="#projects">projects.</a>
					<a href="#history">history.</a>
					<a href="#contact">contact.</a>
				</nav>
			</section>
		</section>
	</header>

	<main>
		<section id="projects" class="container">
			<section class="left">
				<h2>projects.</h2>
			</section>

			<section class="right">
				{{#each projects}}
				<article>
					<h3>{{name}}</h3>
					{{#markdown}}{{description}}{{/markdown}}
					{{#if image}}
					{{#with image}}
					<img alt="{{title}}" src="{{url}}" />
					{{/with}}
					{{/if}}
					<nav>
						<a href="https://github.com/chancedickson/carbon" aria-label="view on github." title="view on github.">
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
								stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
								aria-hidden="true">
								<path
									d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22">
								</path>
							</svg>
						</a>
					</nav>
				</article>
				{{/each}}
			</section>
		</section>

		<section id="history" class="container">
			<section class="left">
				<h2>history.</h2>
			</section>

			<section class="right">
				{{#each history}}
				<article>
					<h3>{{name}}</h3>
					<p class="date-location">
						{{location}}

						{{#if (and timePeriod location)}}
						&mdash;
						{{/if}}

						{{#if timePeriod}}
						<i>{{timePeriod}}</i>
						{{/if}}
					</p>
					<p>
						{{description}}
					</p>
				</article>
				{{/each}}
			</section>
		</section>
	</main>

	<footer id="contact" class="container">
		<section class="left">
			<h2>contact.</h2>
		</section>

		<section class="right">
			{{#each social}}
			<article>
				<a href="{{url}}" aria-label="{{label}}">
					<svg class="feather">
						<use xlink:href="https://unpkg.com/feather-icons@4.26.0/dist/feather-sprite.svg#{{icon}}" />
					</svg>
					<span aria-hidden="true">{{text}}</span>
				</a>
			</article>
			{{/each}}

			<article>
				<a href="/{{assets.[chance-dickson-resume.pdf]}}" aria-label="Download Resumé">
					<svg class="feather">
						<use xlink:href="https://unpkg.com/feather-icons@4.26.0/dist/feather-sprite.svg#file-text" />
					</svg>
					<span aria-hidden="true">Resumé</span>
				</a>
			</article>
		</section>
	</footer>
</body>

</html>
