---
const { class: className, href, label, download, me, newTab } = Astro.props;

const relList = [];

if (me) {
	relList.push("me");
}

if (newTab) {
	relList.push("noopener", "noreferrer");
}

// This was the only way I could figure out how to render a sublink in a slot without
// additional spaces around the text or the sublink slot rendering a space when empty.
const text = (await Astro.slots.render("default"))?.trim();
const sublinkHtml = (await Astro.slots.render("sublink"))?.trim();
const sublink = sublinkHtml ? " " + sublinkHtml : sublinkHtml;
---

<Fragment>
	<a
		class={className}
		href={href}
		aria-label={label}
		tabindex="0"
		target={newTab ? "_blank" : undefined}
		rel={relList.join(" ") || undefined}
		download={download}
	>
		{text}
	</a>
	<Fragment set:html={sublink} />
</Fragment>
